.body{
    background-color: rgb(228, 226, 210);
}

.padre {
    
    padding: 30px;
  }
  
  .textCenter{
      text-align: center;
  }
  .lista{
      text-align: center;
  }

  #canvas{
     margin-left: 280px;
  }

  .row{
      margin-left: 320px;
  }